.fa-font-family {
  font-family: IRANSans !important;
  font-weight: 300;
  letter-spacing: normal;
}

.fa-font-family .Toastify__toast-body {
  direction: rtl;
  font-family: IRANSans;
  text-align: right;
}

.fa-font-family textarea {
  font-family: IRANSans;
}

.signIn-background {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(#99999955, #99999955),
    url('assets/images/back.png') no-repeat center center fixed;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0.7;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input.ltr-input,
.ltr-input input {
  text-align: left;
  direction: ltr;
}

.recharts-wrapper {
  direction: ltr;
}

.signIn-logos {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
}

.signIn-logos img {
  width: 90px;
  margin: 10px;
}

@media (max-width: 480px) {
  .fa-font-family .Toastify__toast-container {
    right: 0;
  }
}

/* @media (max-width: 1000px) {
  .MuiTableCell-body.MuiTableCell-root {
    padding: 5px;
  }
} */

/* .google-map-container {
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
}

a[href^="http://maps.google.com/maps"]
{
  display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important;
}
.gmnoprint div {
  background: none !important;
  display: none !important;
}
.gm-style-iw + div {
  display: none !important;
}
.gm-ui-hover-effect {
  display: none !important;
}
.gm-style-iw.gm-style-iw-c {
  padding: 0;
}
.gm-style-iw-d {
  overflow: inherit !important;
  max-width: unset !important;
  max-height: unset !important;
}

.MuiAlert-message {
  width: 100%;
}

input[type='search' i]::-webkit-search-cancel-button {
  display: none;
} */
