body[dir='rtl'] {
  font-family: IRANSans;
  font-weight: 300;
  letter-spacing: normal;
}

input.ltr-input,
.ltr-input input {
  text-align: left;
  direction: ltr;
}

.recharts-wrapper {
  direction: ltr;
}

.signIn-logos {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
}

.signIn-logos img {
  width: 90px;
  margin: 10px;
}

@media (max-width: 480px) {
  body[dir='rtl'] .Toastify__toast-container {
    right: 0;
  }
}

body[dir='rtl'] .MuiTabs-scrollButtons .MuiSvgIcon-root {
  transform: scaleX(1);
}

body[dir='rtl'] .MuiDropzoneSnackbar-icon.MuiSvgIcon-root {
  transform: scaleX(1);
}

body[dir='rtl'] .Toastify__toast {
  direction: rtl;
  font-family: IRANSans;
  text-align: right;
  -moz-font-feature-settings: 'ss02';
  -webkit-font-feature-settings: 'ss02';
  font-feature-settings: 'ss02';
}

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fa810e;
}
